.yarm{
    background-color: orange;
}
.yarm1{
    background-color: red;
}
.yarm2{
    margin-left: 250px;
}
.yarm4{
    background-color: rgba(15, 17, 38, 0.99);
}
.yarm5{
    background-color: #1dc795;
}